@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.card_p__text {
  font-size: 14px;
}

body {
  background-color: #efefef;
}

.title__main{
  margin-bottom: 30px;

}
.container{
  margin-top: 60px;
}
.button_detalle{
display: flex;
flex-direction: row;
justify-content: center;

}
.tabla{
  
  border: 1px solid #110000;
}
td, th {
  border: black 1px solid;
}
.card {
margin-top: 50px;
}

.carrito_conteiner{
  display: flex;
  justify-content: center;
  }
.Footer_container{
  display: flex;
  justify-content: space-around;
 
  background: rgb(9, 9, 9);
 color: #efefef;
 
  
}